<% unless presenter.messages.empty? %>
  <h4 class="flash"><%= presenter.messages.to_s %></h4>
<% end %>

<div id="left">
  <div class="content_div index_div">
    <form method="post" action="/login">
    <p>
      <label for="username">Username</label><br />
      <input name="username" id="username" type="text" autocomplete="off" />
    </p>
    <p>
      <label for="password">Password</label><br />
      <input name="password" id="password" type="password" />
    </p>
    <p>
      <input type="submit" value="Login" />
    </p>
    <input type="hidden" name="lt" id="lt" value="<%= presenter.login_ticket.ticket %>" />
    </form>
  </div>
</div>